.login-box {
    height: 100%;
    width: 100%;
    background: #fff;
    .reback-btn {
        height: 33px;
        padding: 15px 10px 0;
        box-sizing: border-box;
        .van-icon {
            font-size: 16px;
        }
    }
    .view {
        height: 634px;
        .m-pc-title {
            height: 65px;
            padding-top: 14px;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            .title {
                font-size: 22px;
                color: #333;
                text-align: center;
            }
        }
        .from-box {
            padding: 0 15px;
            box-sizing: border-box;
            .info-message {
                width: 100%;
                padding: 10px 20px;
                box-sizing: border-box;
                color: #0bbe06;
            }
        }
        .other-sign {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 16px;
            margin-top: 40px;
            & span:nth-child(1) {
                padding-right: 10px;
                line-height: 16px;
            }
            & span:nth-child(2) {
                padding-left: 10px;
                line-height: 16px;
                position: relative;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 16px;
                    background: #f3eeee;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            .resiger {
                color: #0bbe06;
            }
        }
    }
    .footer {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}